SY_POSTGRESQL_HOST=localhost
SY_POSGRESQL_PORT=5432
SY_POSTGRESQL_DATABASE=sy_acgn
SY_POSTGRESQL_USER=sy_acgn
SY_POSTGRESQL_PASSWORD=sy_acgn

SY_TMDB_API_KEY=
SY_QB_API_BASE_URL=
SY_QB_USER_NAME=
SY_QB_PASSWORD=
SY_BGM_USER_AGENT='sunriseydy/sy-acgn (https://github.com/sunriseydy/sy-acgn)'
SY_MEDIA_TARGET_DIRECTORY=

# S3 Object Storage Config
SY_S3_ENDPOINT=
SY_S3_ACCESS_KEY=
SY_S3_SECRET_KEY=
SY_S3_BUCKET_NAME=
SY_S3_REGION=

